{:blocks (
{:block/created-at 1688118518411
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke "red"
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "Site"
:scaleLevel "md"
:fill "red"
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 253.99998089891898]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "83dc85c0-167b-11ee-bdb2-4f4ebdc539d8"
:noFill false
:point [656 488]
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:collapsedHeight 0
:nonce 1688043024567}}
:block/updated-at 1688118518411} 
{:block/created-at 1688050383836
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "649d7d75-98d8-41aa-aa3d-6e1e67337021"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing false
:type "logseq-portal"
:size [472 336]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "5c0c9bb0-167c-11ee-bdb2-4f4ebdc539d8"
:noFill false
:point [1176 64]
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:collapsedHeight 0
:nonce 1688043387296}}
:block/updated-at 1688050383836} 
{:block/created-at 1688050390188
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke "#c4b14f"
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "Link"
:scaleLevel "md"
:fill "#c4b14f"
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 224]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "eab798b0-168b-11ee-bdb2-4f4ebdc539d8"
:noFill false
:point [1200 576]
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:collapsedHeight 0
:nonce 1688050069134}}
:block/updated-at 1688050390188} 
{:block/created-at 1688050426135
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke "#257432"
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "Service"
:scaleLevel "md"
:fill "#257432"
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 210.1875]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "47308a20-168c-11ee-bdb2-4f4ebdc539d8"
:noFill false
:point [1728 552]
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:collapsedHeight 0
:nonce 1688050224243}}
:block/updated-at 1688050426135} 
{:block/created-at 1688050426138
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "bd4df762-168c-11ee-bdb2-4f4ebdc539d8"
:fontWeight 400
:noFill true
:point [1512 400]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [426.86 148]
:bindingId "bd4df761-168c-11ee-bdb2-4f4ebdc539d8"}}
:decorations 
{:end "arrow"}
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:nonce 1688050422264
:italic false}}
:block/updated-at 1688050426138} 
{:block/created-at 1688050441441
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "c222d802-168c-11ee-bdb2-4f4ebdc539d8"
:fontWeight 400
:noFill true
:point [1355.25 401]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [28.54 0]
:bindingId "c222d800-168c-11ee-bdb2-4f4ebdc539d8"}
:end 
{:id "end"
:canBind true
:point [0 171]
:bindingId "c222d801-168c-11ee-bdb2-4f4ebdc539d8"}}
:decorations 
{:end "arrow"}
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:nonce 1688050430373
:italic false}}
:block/updated-at 1688050441441} 
{:block/created-at 1688118518517
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 6
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "c7821e50-168c-11ee-bdb2-4f4ebdc539d8"
:fontWeight 400
:noFill true
:point [821.53 333.15]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [353.47 0]
:bindingId "c781f740-168c-11ee-bdb2-4f4ebdc539d8"}
:end 
{:id "end"
:canBind true
:point [0 150.85]
:bindingId "c781f741-168c-11ee-bdb2-4f4ebdc539d8"}}
:decorations 
{:end "arrow"}
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:nonce 1688050439408
:italic false}}
:block/updated-at 1688118518517} 
{:block/created-at 1688118671499
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 7
:scale [1 1]
:pageId "YAML"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 191]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "5a51d8d0-172b-11ee-a072-8da737f97067"
:noFill false
:point [1224 1200]
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:collapsedHeight 0
:nonce 1688118546224}}
:block/updated-at 1688118671499} 
{:block/created-at 1688118671499
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 8
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "9a7f9872-172b-11ee-a072-8da737f97067"
:fontWeight 400
:noFill true
:point [1414.85 763.19]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [412.13 0]
:bindingId "9a7f9870-172b-11ee-a072-8da737f97067"}
:end 
{:id "end"
:canBind true
:point [0 432.81]
:bindingId "9a7f9871-172b-11ee-a072-8da737f97067"}}
:decorations 
{:end "arrow"}
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:nonce 1688118653905
:italic false}}
:block/updated-at 1688118671499} 
{:block/created-at 1688118671497
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 9
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "9deb9a42-172b-11ee-a072-8da737f97067"
:fontWeight 400
:noFill true
:point [980.37 743]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "9deb9a40-172b-11ee-a072-8da737f97067"}
:end 
{:id "end"
:canBind true
:point [440.15 453]
:bindingId "9deb9a41-172b-11ee-a072-8da737f97067"}}
:decorations 
{:end "arrow"}
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:nonce 1688118659647
:italic false}}
:block/updated-at 1688118671497} 
{:block/created-at 1688118779863
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 10
:scale [1 1]
:pageId "Ingress"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [304 160]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ada6dad0-172b-11ee-a072-8da737f97067"
:noFill false
:point [1240 824]
:parentId "649d7d80-b59b-4da8-abd5-cf98122495cd"
:collapsedHeight 0
:nonce 1688118686165}}
:block/updated-at 1688118779863})
:pages (
{:block/uuid #uuid "649d7d80-b59b-4da8-abd5-cf98122495cd"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "649d7d80-b59b-4da8-abd5-cf98122495cd"
:name "big picture"
:bindings 
{:c781f741-168c-11ee-bdb2-4f4ebdc539d8 
{:id "c781f741-168c-11ee-bdb2-4f4ebdc539d8"
:type "line"
:fromId "c7821e50-168c-11ee-bdb2-4f4ebdc539d8"
:toId "83dc85c0-167b-11ee-bdb2-4f4ebdc539d8"
:handleId "end"
:point [0.25 0.11]
:distance 4}
:bd4df761-168c-11ee-bdb2-4f4ebdc539d8 
{:id "bd4df761-168c-11ee-bdb2-4f4ebdc539d8"
:type "line"
:fromId "bd4df762-168c-11ee-bdb2-4f4ebdc539d8"
:toId "47308a20-168c-11ee-bdb2-4f4ebdc539d8"
:handleId "end"
:point [0.65 0.08]
:distance 4}
:9deb9a40-172b-11ee-a072-8da737f97067 
{:id "9deb9a40-172b-11ee-a072-8da737f97067"
:type "line"
:fromId "9deb9a42-172b-11ee-a072-8da737f97067"
:toId "83dc85c0-167b-11ee-bdb2-4f4ebdc539d8"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:9a7f9871-172b-11ee-a072-8da737f97067 
{:id "9a7f9871-172b-11ee-a072-8da737f97067"
:type "line"
:fromId "9a7f9872-172b-11ee-a072-8da737f97067"
:toId "5a51d8d0-172b-11ee-a072-8da737f97067"
:handleId "end"
:point [0.25 0.49]
:distance 4}
:c222d800-168c-11ee-bdb2-4f4ebdc539d8 
{:id "c222d800-168c-11ee-bdb2-4f4ebdc539d8"
:type "line"
:fromId "c222d802-168c-11ee-bdb2-4f4ebdc539d8"
:toId "5c0c9bb0-167c-11ee-bdb2-4f4ebdc539d8"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:9a7f9870-172b-11ee-a072-8da737f97067 
{:id "9a7f9870-172b-11ee-a072-8da737f97067"
:type "line"
:fromId "9a7f9872-172b-11ee-a072-8da737f97067"
:toId "47308a20-168c-11ee-bdb2-4f4ebdc539d8"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:c781f740-168c-11ee-bdb2-4f4ebdc539d8 
{:id "c781f740-168c-11ee-bdb2-4f4ebdc539d8"
:type "line"
:fromId "c7821e50-168c-11ee-bdb2-4f4ebdc539d8"
:toId "5c0c9bb0-167c-11ee-bdb2-4f4ebdc539d8"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:9deb9a41-172b-11ee-a072-8da737f97067 
{:id "9deb9a41-172b-11ee-a072-8da737f97067"
:type "line"
:fromId "9deb9a42-172b-11ee-a072-8da737f97067"
:toId "5a51d8d0-172b-11ee-a072-8da737f97067"
:handleId "end"
:point [0.7 0.44]
:distance 4}
:c222d801-168c-11ee-bdb2-4f4ebdc539d8 
{:id "c222d801-168c-11ee-bdb2-4f4ebdc539d8"
:type "line"
:fromId "c222d802-168c-11ee-bdb2-4f4ebdc539d8"
:toId "eab798b0-168b-11ee-bdb2-4f4ebdc539d8"
:handleId "end"
:point [0.34 0.53]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("83dc85c0-167b-11ee-bdb2-4f4ebdc539d8" "5c0c9bb0-167c-11ee-bdb2-4f4ebdc539d8" "eab798b0-168b-11ee-bdb2-4f4ebdc539d8" "47308a20-168c-11ee-bdb2-4f4ebdc539d8" "bd4df762-168c-11ee-bdb2-4f4ebdc539d8" "c222d802-168c-11ee-bdb2-4f4ebdc539d8" "c7821e50-168c-11ee-bdb2-4f4ebdc539d8" "5a51d8d0-172b-11ee-a072-8da737f97067" "9a7f9872-172b-11ee-a072-8da737f97067" "9deb9a42-172b-11ee-a072-8da737f97067" "ada6dad0-172b-11ee-a072-8da737f97067")}}
:block/journal? false
:block/updated-at 1688118779863
:block/created-at 1688042880663
:block/type "whiteboard"
:block/name "big picture"
:block/original-name "Big picture"})}